PORT=8000
MONGODB_URL=mongodb+srv://70134826:R%40inbow11@cluster0.oraygkj.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCES_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d
CLODINARY_CLOUD_NAME=dur37lvqe
CLODINARY_API_KEY=217214681451731
CLODINARY_API_SECRET=b10W9vFqiwJxaXS60gTCESGvrl0
